.splash-component {
	width: 100%;
	height: 120vh;
	background-color: $pink;
	position: relative;
	color: #ffffff;
	font-family: "Lora", "Helvetica Neue", Helvetica, sans-serif;
	@media screen and (min-width: 768px) {
		height: 100vh;
	}
	.splash-image {
		max-width: 100%;
		height: 100%;
		&:before {
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			width: 100%;
			opacity: 0.25;
			height: 100%;
			background: url('/img/splash.jpg') center 0 / cover no-repeat fixed transparent;
		}
	}
	.splash-caption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		-webkit-transform: translateY(15%);
		-moz-transform: translateY(15%);
		-ms-transform: translateY(15%);
		-o-transform: translateY(15%);
		transform: translateY(15%);
		@media screen and (min-width: 768px) {
			-webkit-transform: translateY(25%);
			-moz-transform: translateY(25%);
			-ms-transform: translateY(25%);
			-o-transform: translateY(25%);
			transform: translateY(25%);
		}
		> div {
			> h1 {
				margin: 1em;
				font-weight: bold;
			}
			.btn {
				display: inline-block;
				text-transform: uppercase;
				padding: 2.5em;
				border: 5px solid $yellow;
				border-radius: 5px;
				color: inherit;
				margin-top: 1.75em;
				font-size: 1.35rem;
				font-weight: bold;
			}
		}
	}
}